/* General values Starts */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Mask Section */

.maskSection {
  background-color: black;
  position: absolute;
  display: flex;
  top: 3.17em;
  height: 100vh;
  width: 90%;
  float: left;
  left: 5.04em;
  opacity: 0.7;
  display: none;
}

/* Scroll Bar Animation */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ff4757);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #c23a45);
  border-radius: 6px;
}

/* Home Page Starts */

header {
  background-color: #2f3542;
  overflow: hidden;
  color: gainsboro;
}

nav {
  background-color: #ff4757;
  float: left;
  height: 100vh;
  width: 5em;
  position: sticky;
  display: flex;
  text-align: center;
  border-right: solid 1px #b4878a;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: flex;
}

li {
  color: #f5f6fa;
  position: relative;
  left: -50%;
  margin: 3em auto;
  font-size: small;
  flex-direction: column;
}

.euqualContainerA {
  display: flex;
  height: 20rem;
  position: relative;
  top: 2vh;
  justify-content: space-evenly;
}

.firstConstainerA {
  width: 65%;
  box-sizing: border-box;
  background-color: #2f3542;
  color: #f5f6fa;
  display: flex;
}

.textSection {
  margin: auto;
  padding: 2em;
}

.secondContainerA {
  width: 48%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.InsideDivA {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.textInsideDivA {
  margin: auto;
}

.InsideDivB {
  background-color: #ff4757;
  flex: 1;
  border-top: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.textInsideDivB {
  margin: auto;
}

.equalContainerB {
  display: flex;
  height: 58vh;
  position: relative;
  top: 2.6em;
  justify-content: space-evenly;
}

.firstConstainerB {
  background-color: #2f3542;
  width: 65%;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
}

.textSectionB {
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
}

footer {
  background-color: #2f3542;
  display: flex;
  height: 8em;
  width: 100%;
  position: relatives;
  color: gainsboro;
}

/* Home Page Section Ends */

/* Courses Page Section Start */

.C_euqualContainerA {
  display: flex;
  height: 20rem;
  position: relative;
  top: 25vh;
  justify-content: center;
}

.C_firstConstainerA {
  width: 65%;
  box-sizing: border-box;
  background-color: #2f3542;
  color: #f5f6fa;
  display: flex;
  flex-basis: 50%;
}

.C_textSection {
  margin: auto;
  padding: 1em;
}

.C_secondContainerB {
  width: 35%;
  box-sizing: border-box;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  position: relative;
}

.C_InsideDivA {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.addCourses {
  margin: auto;
}

.C_InsideDivB {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.seeCourses {
  margin: auto;
}

/* Popup Section for Courses */

.POPUP_addCoursesSection {
  display: flex;
}

.POPUP_seeCoursesSection {
  display: flex;
}

.POPUP_addCourses {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;
}

.POPUP_seeCourses {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

/* quit section for Add Course */
.POPUPaddCourses_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUPaddCourses_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUPaddCourses_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for See Course */
.POPUP_seeCourses_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

/* Data Input tables for Course Page */

.containerDivForCourseForm {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.courseForm {
  width: 50%;
  height: 20em;
  position: relative;
  top: 1em;
}

.courseForm input {
  width: 20em;
  height: 2.1em;
  color: #2f3542;
  margin-bottom: 2em;
  border: none;
  outline: none;
  padding-top: 3em;
  cursor: pointer;
}

.courseForm .labelTitle {
  position: absolute;
  bottom: 78.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelStream {
  position: absolute;
  bottom: 48.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelType {
  position: absolute;
  bottom: 18.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelStartDate {
  position: absolute;
  bottom: -10.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelEndDate {
  position: absolute;
  bottom: -40.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.submitCourse {
  background-color: transparent;
  color: #2f3542;
  top: 80vh;
  left: 10em;
  width: 10em;
  height: 2em;
  position: absolute;
  border-bottom: solid #2f3542;
  border-right: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: all 0.5s ease;
}

.submitCourse:hover {
  background-color: #ff4757;
  color: #f5f6fa;
  border-radius: 5px;
  border: none;
}

.courseForm label ::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -3px;
  height: 100%;
  width: 100%;
  border-bottom: #ff4757 solid;
  transform: translateX(100%);
  overflow: hidden;
  transition: all 0.3s ease;
}

.contentName {
  position: absolute;
  bottom: 0em;
  left: 0em;
  width: 100%;
  transition: all 0.3s ease;
  overflow: hidden;
}

/* Date time picker modifiers so it suits my changes and animations in the programm */
::-webkit-datetime-edit {
  left: 70%;
  position: absolute;
}

::-webkit-calendar-picker-indicator {
  position: relative;
  left: 44%;
}

::-webkit-inner-spin-button {
  display: none;
}

/* Animation for input Tables, i know its wierd i know this could be done better with JS BUT.....*/

.courseForm input:focus + .labelTitle .contentName,
.courseForm input:valid + .labelTitle .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelTitle .contentName::after,
.courseForm input:valid + .labelTitle .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelStream .contentName,
.courseForm input:valid + .labelStream .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelStream .contentName::after,
.courseForm input:valid + .labelStream .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelType .contentName,
.courseForm input:valid + .labelType .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelType .contentName::after,
.courseForm input:valid + .labelType .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelStartDate .contentName,
.courseForm input:valid + .labelStartDate .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelStartDate .contentName::after,
.courseForm input:valid + .labelStartDate .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelEndDate .contentName,
.courseForm input:valid + .labelEndDate .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelEndDate .contentName::after,
.courseForm input:valid + .labelEndDate .contentName::after {
  transform: translateY(0%);
}

/* Courses Page Section Ends */

/* Students Page Section Start */

.S_euqualContainerA {
  display: flex;
  height: 20rem;
  position: relative;
  top: 25vh;
  justify-content: center;
}

.S_firstConstainerA {
  width: 65%;
  box-sizing: border-box;
  background-color: #2f3542;
  color: #f5f6fa;
  display: flex;
  flex-basis: 50%;
}

.S_textSection {
  margin: auto;
  padding: 1em;
}

.S_secondContainerB {
  width: 35%;
  box-sizing: border-box;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  height: 35em;
  top: -7.5em;
  position: relative;
}

.S_InsideDivA {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.addStudents {
  margin: auto;
}

.S_InsideDivB {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.seeStudents {
  margin: auto;
}

.S_InsideDivC {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.enrollStudents {
  margin: auto;
}

.S_InsideDivD {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.checkStudentsPerCourse {
  margin: auto;
}

.S_InsideDivE {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.checkStudentsMoreThanOneCourses {
  margin: auto;
  padding: 0em 1em 0 1em;
}

/* Popup Section for Students */

.POPUP_addStudentsSection {
  display: flex;
}

.POPUP_seeStudentsSection {
  display: flex;
}

.POPUP_enrollStudentsSection {
  display: flex;
}

.POPUP_checkStudentsPerCourseSection {
  display: flex;
}

.POPUP_checkStudentsMoreThanOneCoursesSection {
  display: flex;
}

.POPUP_addStudents {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_seeStudents {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_enrollStudents {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_checkStudentsPerCourse {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_checkStudentsMoreThanOneCourses {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_addStudents_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;

}

.POPUP_seeStudents_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_enrollStudents_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_checkStudentsPerCourse_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_checkStudentsMoreThanOneCourses_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

/* Students Page Section Ends */

/* Trainers Page Section Start */

.T_euqualContainerA {
  display: flex;
  height: 20rem;
  position: relative;
  top: 25vh;
  justify-content: center;
}

.T_firstConstainerA {
  width: 65%;
  box-sizing: border-box;
  background-color: #2f3542;
  color: #f5f6fa;
  display: flex;
  flex-basis: 50%;
}

.T_textSection {
  margin: auto;
  padding: 1em;
}

.T_secondContainerB {
  width: 35%;
  box-sizing: border-box;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  height: 35em;
  top: -7.5em;
  position: relative;
}

.T_InsideDivA {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.addTrainers {
  margin: auto;
}

.T_InsideDivB {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.seeTrainers {
  margin: auto;
}

.T_InsideDivC {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.enrollTrainers {
  margin: auto;
}

.T_InsideDivD {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.checkTrainersPerCourse {
  margin: auto;
}

.T_InsideDivE {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.putMarks {
  margin: auto;
}

/* Popup Section for Trainers */

.POPUP_addTrainersSection {
  display: flex;
}

.POPUP_seeTrainersSection {
  display: flex;
}

.POPUP_enrollTrainersSection {
  display: flex;
}

.POPUP_checkTrainersPerCourseSection {
  display: flex;
}

.POPUP_putMarksSection {
  display: flex;
}

.POPUP_addTrainers {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_seeTrainers {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_enrollTrainers {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_checkTrainersPerCourse {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_putMarks {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_addTrainers_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_seeTrainers_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_enrollTrainers_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_checkTrainersPerCourse_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_putMarks_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

/* Trainers Page Section Ends */

/* Assignments Page Section Starts */

.A_euqualContainerA {
  display: flex;
  height: 20rem;
  position: relative;
  top: 25vh;
  justify-content: center;
}

.A_firstConstainerA {
  width: 65%;
  box-sizing: border-box;
  background-color: #2f3542;
  color: #f5f6fa;
  display: flex;
  flex-basis: 50%;
}

.A_textSection {
  margin: auto;
  padding: 1em;
}

.A_secondContainerB {
  width: 35%;
  box-sizing: border-box;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  height: 35em;
  top: -7.5em;
  position: relative;
}

.A_InsideDivA {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.addAssignments {
  margin: auto;
}

.A_InsideDivB {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.seeAssignments {
  margin: auto;
}

.A_InsideDivC {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.enrollAssignmnets {
  margin: auto;
}

.A_InsideDivD {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.checkAssignmnetPerCourse {
  margin: auto;
}

.A_InsideDivE {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.enrollAssignmentsToStudents {
  margin: auto;
}

.A_InsideDivF {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.checkAssignmentsPerStudentPerCourse {
  margin: auto;
  padding: 1em;
}

/* Popup Section for Assignments */

.POPUP_addAssignmentsSection {
  display: flex;
}

.POPUP_seeAssignmentsSection {
  display: flex;
}

.POPUP_enrollAssignmnetsSection {
  display: flex;
}

.POPUP_checkAssignmnetPerCourseSection {
  display: flex;
}

.POPUP_enrollAssignmentsToStudentsSection {
  display: flex;
}

.POPUP_checkAssignmentsPerStudentPerCourseSection {
  display: flex;
}

.POPUP_addAssignments {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_seeAssignments {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;
}

.POPUP_enrollAssignmnets {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_checkAssignmnetPerCourse {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_enrollAssignmentsToStudents {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;

}

.POPUP_checkAssignmentsPerStudentPerCourse {
  background-color: aqua;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: popupAnimation 0.7s;
}

.POPUP_addAssignments_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_seeAssignments_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_enrollAssignmnets_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_checkAssignmnetPerCourse_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_enrollAssignmentsToStudents_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

.POPUP_POPUP_checkAssignmentsPerStudentPerCourse_QuitSection {
  background-color: teal;
  padding: 3px;
  position: relative;
  top: 0.4em;
  left: 0.1em;
  font-size: 17px;
  border: violet solid;
  border-radius: 50%;
}

/* Assignments Page Section Ends */


/* Animation Section */

@keyframes popupAnimation{
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @keyframes popoutAnimation{
    from {opacity: 1;}
    to {opacity:0 ;}
  }