/* General values Starts */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Mask Section */

.maskSection {
  background-color: black;
  position: absolute;
  display: flex;
  top: 3.17em;
  height: 100vh;
  width: 90%;
  float: left;
  left: 5.04em;
  opacity: 0.7;
  display: none;
  animation: popupMaskAnimation 0.5s;
}

/* Scroll Bar Animation */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ff4757);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #c23a45);
  border-radius: 6px;
}

/* Date time picker modifiers so it suits my changes and animations in the programm */
::-webkit-datetime-edit {
  left: 70%;
  position: absolute;
}

::-webkit-calendar-picker-indicator {
  position: relative;
  left: 44%;
}

::-webkit-inner-spin-button {
  display: none;
}

/* Home Page Starts */

header {
  background-color: #2f3542;
  overflow: hidden;
  color: gainsboro;
  animation: slideFromLeft ease-out 0.8s;
}

nav {
  background-color: #ff4757;
  float: left;
  height: 100vh;
  width: 5em;
  position: sticky;
  display: flex;
  text-align: center;
  border-right: solid 1px #b4878a;
  animation: slideFromLeft ease-out 0.8s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: flex;
}

li {
  color: #f5f6fa;
  position: relative;
  left: -50%;
  margin: 3em auto;
  font-size: small;
  flex-direction: column;
}

.euqualContainerA {
  display: flex;
  height: 20rem;
  position: relative;
  top: 2vh;
  justify-content: space-evenly;
  animation: ease-out 1.5s popupAnimation;
}

.firstConstainerA {
  width: 65%;
  box-sizing: border-box;
  background-color: #2f3542;
  color: #f5f6fa;
  display: flex;
}

.textSection {
  margin: auto;
  padding: 2em;
}

.secondContainerA {
  width: 48%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}

.InsideDivA {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.textInsideDivA {
  margin: auto;
}

.InsideDivB {
  background-color: #ff4757;
  flex: 1;
  border-top: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.textInsideDivB {
  margin: auto;
}

.equalContainerB {
  display: flex;
  height: 58vh;
  position: relative;
  top: 2.6em;
  justify-content: space-evenly;
  animation: ease-out 1.5s popupAnimation;
}

.firstConstainerB {
  background-color: #2f3542;
  width: 65%;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
}

.textSectionB {
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
}


/* Footer section starts */
footer {
  background-color: #2f3542;
  display: flex;
  height: 8em;
  width: 100%;
  position: relatives;
  color: gainsboro;
  animation: slideFromLeft ease-out 0.8s;
}

/* Home Page Section Ends */

/* Courses Page Section Start */

.C_euqualContainerA {
  display: flex;
  height: 20rem;
  position: relative;
  top: 25vh;
  justify-content: center;
  animation: ease-out 1.5s popupAnimation;
}

.C_firstConstainerA {
  width: 65%;
  box-sizing: border-box;
  background-color: #2f3542;
  color: #f5f6fa;
  display: flex;
  flex-basis: 50%;
}

.C_textSection {
  margin: auto;
  padding: 1em;
}

.C_secondContainerB {
  width: 35%;
  box-sizing: border-box;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  position: relative;
}

.C_InsideDivA {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.addCourses {
  margin: auto;
}

.C_InsideDivB {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.seeCourses {
  margin: auto;
}

/* Popup Section for Courses */

.POPUP_addCoursesSection {
  display: flex;
}

.POPUP_seeCoursesSection {
  display: flex;
}

.POPUP_addCourses {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;
}

/* quit section for Add Course */
.POPUPaddCourses_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUPaddCourses_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUPaddCourses_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* See courses Section */
.POPUP_seeCourses {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Section for Print List of Courses in Private School PLUS GENERAL VALUES FOR THE SAME THINGS IN LISTS*/
.coursesList {
  top: 3em;
  position: absolute;
  display: flexbox;
  flex-direction: column;
  background-color: white;
  height: 70%;
  width: auto;
  overflow: scroll;
  margin: 2em;
  left: 4.5em;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  text-align: center;
}

#checkCourse1 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkCourse2 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkCourse3 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkCourse4 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkCourse5 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkCourse6 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
  animation: popupAnimation 0.3s ease-out;
}

.checkCourse {
  cursor: pointer;
}

.checkCourse:hover {
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255,71,87,1);
  -moz-box-shadow: inset 0px 0px 1px -1px rgba(255,71,87,1);
  box-shadow: inset 3px 0px 1px -1px rgba(255,71,87,1);
  opacity: 0.8;
  border: none !important;
}

.CourseListH1 {
  margin-bottom: 1em;
  position: relative;
  top: -1em;
  color: #2f3542;
  left: -0.5em;
  cursor: pointer;
}

.CourseListH1:hover {
  color: #ff4757;
}

/* quit section for See Course */
.POPUP_seeCourses_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_seeCourses_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_seeCourses_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* Data Input tables for Course Page */

.containerDivForCourseForm {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.courseForm {
  width: 50%;
  height: 20em;
  position: relative;
  top: 1em;
}

.courseForm input {
  width: 20em;
  height: 2.1em;
  color: #2f3542;
  margin-bottom: 2em;
  border: none;
  outline: none;
  padding-top: 3em;
  cursor: pointer;
}

.courseForm .labelTitle {
  position: absolute;
  bottom: 78.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelStream {
  position: absolute;
  bottom: 48.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelType {
  position: absolute;
  bottom: 18.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelStartDate {
  position: absolute;
  bottom: -10.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelEndDate {
  position: absolute;
  bottom: -40.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.submitCourse {
  background-color: transparent;
  color: #2f3542;
  top: 80vh;
  left: 10em;
  width: 10em;
  height: 2em;
  position: absolute;
  border-bottom: solid #2f3542;
  border-right: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: all 0.5s ease;
}

.submitCourse:hover {
  background-color: #ff4757;
  color: #f5f6fa;
  border-radius: 5px;
  border: none;
}

.courseForm label ::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -3px;
  height: 100%;
  width: 100%;
  border-bottom: #ff4757 solid;
  transform: translateX(100%);
  overflow: hidden;
  transition: all 0.3s ease;
}

.contentName {
  position: absolute;
  bottom: 0em;
  left: 0em;
  width: 100%;
  transition: all 0.3s ease;
  overflow: hidden;
}

/* Animation for input Tables, i know its wierd i know this could be done better with JS BUT.....*/

.courseForm input:focus + .labelTitle .contentName,
.courseForm input:valid + .labelTitle .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelTitle .contentName::after,
.courseForm input:valid + .labelTitle .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelStream .contentName,
.courseForm input:valid + .labelStream .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelStream .contentName::after,
.courseForm input:valid + .labelStream .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelType .contentName,
.courseForm input:valid + .labelType .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelType .contentName::after,
.courseForm input:valid + .labelType .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelStartDate .contentName,
.courseForm input:valid + .labelStartDate .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelStartDate .contentName::after,
.courseForm input:valid + .labelStartDate .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelEndDate .contentName,
.courseForm input:valid + .labelEndDate .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelEndDate .contentName::after,
.courseForm input:valid + .labelEndDate .contentName::after {
  transform: translateY(0%);
}

/* Courses Page Section Ends */

/* Students Page Section Start */

.S_euqualContainerA {
  display: flex;
  height: 20rem;
  position: relative;
  top: 25vh;
  justify-content: center;
  animation: ease-out 1.5s popupAnimation;
}

.S_firstConstainerA {
  width: 65%;
  box-sizing: border-box;
  background-color: #2f3542;
  color: #f5f6fa;
  display: flex;
  flex-basis: 50%;
}

.S_textSection {
  margin: auto;
  padding: 1em;
}

.S_secondContainerB {
  width: 35%;
  box-sizing: border-box;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  height: 35em;
  top: -7.5em;
  position: relative;
}

.S_InsideDivA {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.addStudents {
  margin: auto;
}

.S_InsideDivB {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.seeStudents {
  margin: auto;
}

.S_InsideDivC {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.enrollStudents {
  margin: auto;
}

.S_InsideDivD {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.checkStudentsPerCourse {
  margin: auto;
}

.S_InsideDivE {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.checkStudentsMoreThanOneCourses {
  margin: auto;
  padding: 0em 1em 0 1em;
}

/* Popup Section for Students */

.POPUP_addStudentsSection {
  display: flex;
}

.POPUP_seeStudentsSection {
  display: flex;
}

.POPUP_enrollStudentsSection {
  display: flex;
}

.POPUP_checkStudentsPerCourseSection {
  display: flex;
}

.POPUP_checkStudentsMoreThanOneCoursesSection {
  display: flex;
}

/* Add students to Private School */
.POPUP_addStudents {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Check Student in private School */
.POPUP_seeStudents {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;
}


/* Section for Print List of students in Private School PLUS GENERAL VALUES FOR THE SAME THINGS IN LISTS*/
.studentsList {
  top: 3em;
  position: absolute;
  display: flexbox;
  flex-direction: column;
  background-color: white;
  height: 70%;
  width: auto;
  overflow: scroll;
  margin: 2em;
  left: 4.5em;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  text-align: center;
}

#checkStudent1 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkStudent2 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkStudent3 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkStudent4 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkStudent5 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkStudent6 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
  animation: popupAnimation 0.3s ease-out;
}

.checkStudent {
  cursor: pointer;
}

.checkStudent:hover {
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255,71,87,1);
  -moz-box-shadow: inset 0px 0px 1px -1px rgba(255,71,87,1);
  box-shadow: inset 3px 0px 1px -1px rgba(255,71,87,1);
  opacity: 0.8;
  border: none !important;
}

.listOfStudentsH1 {
  margin-bottom: 1em;
  position: relative;
  top: -1em;
  color: #2f3542;
  left: -0.5em;
  cursor: pointer;
}

.listOfStudentsH1:hover {
  color: #ff4757;
}

/* Enroll Students to Courses */
.POPUP_enrollStudents {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Check Students Per Course */
.POPUP_checkStudentsPerCourse {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Section for Print List of students per Course */
.studentsList {
  top: 3em;
  position: absolute;
  display: flexbox;
  flex-direction: column;
  background-color: white;
  height: 70%;
  width: auto;
  overflow: scroll;
  margin: 2em;
  left: 4.5em;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  text-align: center;
}

#checkStudentPerCourse1 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkStudentPerCourse2 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkStudentPerCourse3 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkStudentPerCourse4 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkStudentPerCourse5 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkStudentPerCourse6 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
  animation: popupAnimation 0.3s ease-out;
}

/* Check students enrolled in more than one courses */
.POPUP_checkStudentsMoreThanOneCourses {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Section for Print List of students enrolled in more than one Courses */
.studentsList {
  top: 3em;
  position: absolute;
  display: flexbox;
  flex-direction: column;
  background-color: white;
  height: 70%;
  width: auto;
  overflow: scroll;
  margin: 2em;
  left: 4.5em;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  text-align: center;
}

#checkStudentMoreThanOne1 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  /* border-radius: 18px; */
} 

#checkStudentMoreThanOne2 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  /* border-radius: 18px; */

} 

#checkStudentMoreThanOne3 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  /* border-radius: 18px; */

} 

#checkStudentMoreThanOne4 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkStudentMoreThanOne5 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkStudentMoreThanOne6 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
  animation: popupAnimation 0.3s ease-out;
}

/* quit section for Add Students */
.POPUP_addStudents_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_addStudents_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_addStudents_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for See Students */
.POPUP_seeStudents_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_seeStudents_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_seeStudents_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for Enroll Students */
.POPUP_enrollStudents_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_enrollStudents_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_enrollStudents_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for Check Students Per Course Students */
.POPUP_checkStudentsPerCourse_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_checkStudentsPerCourse_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_checkStudentsPerCourse_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for Check Students More than one Courses */
.POPUP_checkStudentsMoreThanOneCourses_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_checkStudentsMoreThanOneCourses_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_checkStudentsMoreThanOneCourses_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* Student Add Form Section */

.courseForm .label_SFirstName {
  position: absolute;
  bottom: 78.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .label_SLastName {
  position: absolute;
  bottom: 48.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .label_SBirthday {
  position: absolute;
  bottom: 18.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelFees {
  position: absolute;
  bottom: -10.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

/* Animation for input Tables, i know its wierd i know this could be done better with JS BUT.....*/
.courseForm input:focus + .label_SFirstName .contentName,
.courseForm input:valid + .label_SFirstName .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .label_SFirstName .contentName::after,
.courseForm input:valid + .label_SFirstName .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .label_SLastName .contentName,
.courseForm input:valid + .label_SLastName .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .label_SLastName .contentName::after,
.courseForm input:valid + .label_SLastName .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .label_SBirthday .contentName,
.courseForm input:valid + .label_SBirthday .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .label_SBirthday .contentName::after,
.courseForm input:valid + .label_SBirthday .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelFees .contentName,
.courseForm input:valid + .labelFees .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelFees .contentName::after,
.courseForm input:valid + .labelFees .contentName::after {
  transform: translateY(0%);
}

/* Students Page Section Ends */

/* Trainers Page Section Start */

.T_euqualContainerA {
  display: flex;
  height: 20rem;
  position: relative;
  top: 25vh;
  justify-content: center;
  animation: ease-out 1.5s popupAnimation;
}

.T_firstConstainerA {
  width: 65%;
  box-sizing: border-box;
  background-color: #2f3542;
  color: #f5f6fa;
  display: flex;
  flex-basis: 50%;
}

.T_textSection {
  margin: auto;
  padding: 1em;
}

.T_secondContainerB {
  width: 35%;
  box-sizing: border-box;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  height: 35em;
  top: -7.5em;
  position: relative;
}

.T_InsideDivA {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.addTrainers {
  margin: auto;
}

.T_InsideDivB {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.seeTrainers {
  margin: auto;
}

.T_InsideDivC {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.enrollTrainers {
  margin: auto;
}

.T_InsideDivD {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.checkTrainersPerCourse {
  margin: auto;
}

.T_InsideDivE {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.putMarks {
  margin: auto;
}

/* Popup Section for Trainers */

.POPUP_addTrainersSection {
  display: flex;
}

.POPUP_seeTrainersSection {
  display: flex;
}

.POPUP_enrollTrainersSection {
  display: flex;
}

.POPUP_checkTrainersPerCourseSection {
  display: flex;
}

.POPUP_putMarksSection {
  display: flex;
}

/* Add Trainers Section */
.POPUP_addTrainers {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Print Trainers */
.POPUP_seeTrainers {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Section for Print List of Courses in Private School PLUS GENERAL VALUES FOR THE SAME THINGS IN LISTS*/
.trainerList {
  top: 3em;
  position: absolute;
  display: flexbox;
  flex-direction: column;
  background-color: white;
  height: 70%;
  width: auto;
  overflow: scroll;
  margin: 2em;
  left: 4.5em;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  text-align: center;
}

#checkTrainer1 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkTrainer2 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkTrainer3 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkTrainer4 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkTrainer5 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkTrainer6 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
  animation: popupAnimation 0.3s ease-out;
}

.checkTrainer {
  cursor: pointer;
}

.checkTrainer:hover {
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255,71,87,1);
  -moz-box-shadow: inset 0px 0px 1px -1px rgba(255,71,87,1);
  box-shadow: inset 3px 0px 1px -1px rgba(255,71,87,1);
  opacity: 0.8;
  border: none !important;
}

.listOfTrainersH1 {
  margin-bottom: 1em;
  position: relative;
  top: -1em;
  color: #2f3542;
  left: -0.5em;
  cursor: pointer;
}

.listOfTrainersH1:hover {
  color: #ff4757;
}

/* Enroll Trainer to Courses */
.POPUP_enrollTrainers {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Check Trainers Per Course */
.POPUP_checkTrainersPerCourse {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Section for Print List of Trainer per Course PLUS GENERAL VALUES FOR THE SAME THINGS IN LISTS*/
.trainerList {
  top: 3em;
  position: absolute;
  display: flexbox;
  flex-direction: column;
  background-color: white;
  height: 70%;
  width: auto;
  overflow: scroll;
  margin: 2em;
  left: 4.5em;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  text-align: center;
}

#checkTrainerPerCourse1 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkTrainerPerCourse2 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkTrainerPerCourse3 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkTrainerPerCourse4 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkTrainerPerCourse5 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkTrainerPerCourse6 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
  animation: popupAnimation 0.3s ease-out;
}

/* Put Marks To Assignments */
.POPUP_putMarks {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* quit section for Add Trainers */
.POPUP_addTrainers_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_addTrainers_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_addTrainers_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for See Trainers */
.POPUP_seeTrainers_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_seeTrainers_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_seeTrainers_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for Enroll Trainers to Courses */
.POPUP_enrollTrainers_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_enrollTrainers_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_enrollTrainers_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for Check Trainers per Courses */
.POPUP_checkTrainersPerCourse_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_checkTrainersPerCourse_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_checkTrainersPerCourse_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for Put Marks */
.POPUP_putMarks_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_putMarks_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_putMarks_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* Trainer Add Form Section */

.courseForm .label_TFirstName {
  position: absolute;
  bottom: 78.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .label_TLastName {
  position: absolute;
  bottom: 48.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelSubject {
  position: absolute;
  bottom: 18.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

/* Animation for input Tables, i know its wierd i know this could be done better with JS BUT.....*/
.courseForm input:focus + .label_TFirstName .contentName,
.courseForm input:valid + .label_TFirstName .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .label_TFirstName .contentName::after,
.courseForm input:valid + .label_TFirstName .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .label_TLastName .contentName,
.courseForm input:valid + .label_TLastName .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .label_TLastName .contentName::after,
.courseForm input:valid + .label_TLastName .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelSubject .contentName,
.courseForm input:valid + .labelSubject .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelSubject .contentName::after,
.courseForm input:valid + .labelSubject .contentName::after {
  transform: translateY(0%);
}


/* Trainers Page Section Ends */

/* Assignments Page Section Starts */

.A_euqualContainerA {
  display: flex;
  height: 20rem;
  position: relative;
  top: 25vh;
  justify-content: center;
  animation: ease-out 1.5s popupAnimation;
}

.A_firstConstainerA {
  width: 65%;
  box-sizing: border-box;
  background-color: #2f3542;
  color: #f5f6fa;
  display: flex;
  flex-basis: 50%;
}

.A_textSection {
  margin: auto;
  padding: 1em;
}

.A_secondContainerB {
  width: 35%;
  box-sizing: border-box;
  color: #f5f6fa;
  display: flex;
  flex-direction: column;
  height: 35em;
  top: -7.5em;
  position: relative;
}

.A_InsideDivA {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.addAssignments {
  margin: auto;
}

.A_InsideDivB {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.seeAssignments {
  margin: auto;
}

.A_InsideDivC {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.enrollAssignmnets {
  margin: auto;
}

.A_InsideDivD {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.checkAssignmnetPerCourse {
  margin: auto;
}

.A_InsideDivE {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.enrollAssignmentsToStudents {
  margin: auto;
}

.A_InsideDivF {
  background-color: #ff4757;
  flex: 1;
  border-bottom: solid 0.2px #f3ecec;
  color: #f5f6fa;
  display: flex;
}

.checkAssignmentsPerStudentPerCourse {
  margin: auto;
  padding: 1em;
}

/* Popup Section for Assignments */

.POPUP_addAssignmentsSection {
  display: flex;
}

.POPUP_seeAssignmentsSection {
  display: flex;
}

.POPUP_enrollAssignmnetsSection {
  display: flex;
}

.POPUP_checkAssignmnetPerCourseSection {
  display: flex;
}

.POPUP_enrollAssignmentsToStudentsSection {
  display: flex;
}

.POPUP_checkAssignmentsPerStudentPerCourseSection {
  display: flex;
}

/* Add Assignments */
.POPUP_addAssignments {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Check Assignments in private School */
.POPUP_seeAssignments {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;
}

/* Section for Print List of Assignments in Private School PLUS GENERAL VALUES FOR THE SAME THINGS IN LISTS*/
.assignmentsList {
  top: 3em;
  position: absolute;
  display: flexbox;
  flex-direction: column;
  background-color: white;
  height: 70%;
  width: auto;
  overflow: scroll;
  margin: 2em;
  left: 4.5em;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  text-align: center;
}

#checkAssignment1 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkAssignment2 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkAssignment3 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkAssignment4 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkAssignment5 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkAssignment6 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
  animation: popupAnimation 0.3s ease-out;
}

.checkAssignment {
  cursor: pointer;
}

.checkAssignment:hover {
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255,71,87,1);
  -moz-box-shadow: inset 0px 0px -1px -1px rgba(255,71,87,1);
  box-shadow: inset 3px 0px 1px -1px rgba(255,71,87,1);
  opacity: 0.8;
  border: none !important;
}

.listOfAssignmentsH1 {
  margin-bottom: 1em;
  position: relative;
  top: -1em;
  color: #2f3542;
  left: -0.5em;
  cursor: pointer;
}

.listOfAssignmentsH1:hover {
  color: #ff4757;
}

/* Enroll Assignments to Courses */
.POPUP_enrollAssignmnets {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Check Assignments Per Course Section */
.POPUP_checkAssignmnetPerCourse {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Section for Print List of Assignments per Course*/
.assignmentsList {
  top: 3em;
  position: absolute;
  display: flexbox;
  flex-direction: column;
  background-color: white;
  height: 70%;
  width: auto;
  overflow: scroll;
  margin: 2em;
  left: 4.5em;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  text-align: center;
}

#checkAssignmentPerCourse1 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkAssignmentPerCourse2 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkAssignmentPerCourse3 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkAssignmentPerCourse4 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkAssignmentPerCourse5 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkAssignmentPerCourse6 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
  animation: popupAnimation 0.3s ease-out;
}

/* Enroll Assignments to Students */
.POPUP_enrollAssignmentsToStudents {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;

}

/* Check Assignments Per Student Per Course */
.POPUP_checkAssignmentsPerStudentPerCourse {
  background-color: white;
  height: 100vh;
  width: 30em;
  position: absolute;
  top: 3.2em;
  right: 0%;
  z-index: 2;
  display: none;
  animation: slideFromRight 0.7s;
}

/* Section for Print List of Assignments per Course Per Student*/
.assignmentsList {
  top: 3em;
  position: absolute;
  display: flexbox;
  flex-direction: column;
  background-color: white;
  height: 70%;
  width: auto;
  overflow: scroll;
  margin: 2em;
  left: 4.5em;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  text-align: center;
}

#checkAssignmentPerCoursePerStudent1 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkAssignmentPerCoursePerStudent2 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkAssignmentPerCoursePerStudent3 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkAssignmentPerCoursePerStudent4 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;

} 

#checkAssignmentPerCoursePerStudent5 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
} 

#checkAssignmentPerCoursePerStudent6 {
  background-color: white;
  flex-flow: 8em;
  height: 8em;
  width: 20em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 1px #b7bcc5;
  border-radius: 18px;
  animation: popupAnimation 0.3s ease-out;
}

/* quit section for Add Assignments */
.POPUP_addAssignments_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_addAssignments_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_addAssignments_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for See Assignments */
.POPUP_seeAssignments_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_seeAssignments_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_seeAssignments_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for Enroll Assignments to Courses*/
.POPUP_enrollAssignmnets_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_enrollAssignmnets_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_enrollAssignmnets_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for Check Assignments per Courses*/
.POPUP_checkAssignmnetPerCourse_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_checkAssignmnetPerCourse_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_checkAssignmnetPerCourse_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for Enroll Assignments to Students*/
.POPUP_enrollAssignmentsToStudents_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_enrollAssignmentsToStudents_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_enrollAssignmentsToStudents_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* quit section for Check Assssignment Per Course Per Student*/
.POPUP_checkAssignmentsPerStudentPerCourse_QuitSection {
  position: relative;
  top: 0.8em;
  left: 0.6em;
  font-size: 17px;
  border-radius: 50%;
}

.POPUP_checkAssignmentsPerStudentPerCourse_QuitSection .fa-times-circle {
  font-size: 30px;
  border-radius: 50%;
  color: #2f3542;
  transition: 0.3s ease;
  cursor: pointer;
}

.POPUP_checkAssignmentsPerStudentPerCourse_QuitSection .fa-times-circle:hover {
  color: #ff4757;
}

/* Assignment Add Form Section */

.courseForm .labelassignmentTitle {
  position: absolute;
  bottom: 78.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelAssignmentDescreption {
  position: absolute;
  bottom: 48.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

.courseForm .labelAssignmentDeadline {
  position: absolute;
  bottom: 18.5%;
  left: 0%;
  width: 111.2%;
  height: 4em;
  pointer-events: none;
  border-bottom: solid black;
}

/* Animation for input Tables, i know its wierd i know this could be done better with JS BUT.....*/
.courseForm input:focus + .labelassignmentTitle .contentName,
.courseForm input:valid + .labelassignmentTitle .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelassignmentTitle .contentName::after,
.courseForm input:valid + .labelassignmentTitle .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelAssignmentDescreption .contentName,
.courseForm input:valid + .labelAssignmentDescreption .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelAssignmentDescreption .contentName::after,
.courseForm input:valid + .labelAssignmentDescreption .contentName::after {
  transform: translateY(0%);
}

.courseForm input:focus + .labelAssignmentDeadline .contentName,
.courseForm input:valid + .labelAssignmentDeadline .contentName {
  transform: translateX(0%);
  font-size: 17px;
  height: 2.5em;
  color: #ff4757;
  overflow: visible;
  transition: 0.3s;
}

.courseForm input:focus + .labelAssignmentDeadline .contentName::after,
.courseForm input:valid + .labelAssignmentDeadline .contentName::after {
  transform: translateY(0%);
}

/* Assignments Page Section Ends */

/* Animation Section */

@keyframes popupAnimation{
    from {opacity: 0.7;}
    to {opacity:1 ;}
  }

  @keyframes popupMaskAnimation{
    from {opacity: 0;}
    to {opacity:0.7 ;}
  }

  @keyframes popoutAnimation{
    from {opacity: 1;}
    to {opacity:0 ;}
  }

  @keyframes slideFromLeft{
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideFromRight{
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }